footer {
    grid-area: footer;
    display: flex;
    background-color: map-get($color, colorHeadFoot);
    border-top: 4px solid #000000;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    .ul_footer {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li {
        padding: 10px;
    }
    a {
        color: map-get($color, colorFont );
    }
    & a:hover{
        color: map-get($color, colorHover );
    }
}