@import "./partials/header.scss", "./partials/main.scss", "./partials/footer.scss";
@media screen and (min-width:1200px) {
    .grid{
        display: grid;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "footer footer footer";
        grid-template-rows: 100px 1fr  75px;
        height: 100vh;
    }
    .nav ul{
        display: flex;
    }
    .imagen{
        position: relative;
        left: -400px;
        padding:50px;
        width: 320px;
        height: 300px;
    }
    .h2_imagenes{
        left: 350px;
        top: 10px;
    }
}

@media screen and (min-width:600px) {
    .nav ul{
        display: flex;
    }
    .imagen{
        position: relative;
    left: -130px;
    padding:20px;
}
}